html {
  height: 100%;
  box-sizing: border-box;
}
body{
	margin: 0;
	position: relative;
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: 6rem;
	
	position: relative;
	background-color: #f2f2f2;
	color: #404040;
	font-family: 'Cormorant Garamond';
}
.main-center{
	position: relative;
	margin: auto;
	width: 1000px;
}
#header{
	font-size: 100%;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	float: none;
	height: 50px;
	position: sticky;
	top: 0;
	z-index:100;
	background: #f2f2f2;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
}
#header-title{
	font-size: 40px;
	position: relative;
	width: 40%;
	height: 100%;
	float: left;
}
#header-title:hover{
    cursor: pointer;
}
#header-menu{
	font-size: 20px;
	width: 60%;
	height: 100%;
	float: right;
}
#main{
    
}
#main-description{
	margin: auto;
	margin-top: 300px;
    text-align: center;
    font-family: 'Alex Brush';
    font-size: 60px;
}
.menu{
	width: 80%;
	display: block;
    list-style-type: disc;
    margin: auto;
    margin-top: 18px;
    padding-left: 0;
}
.menu-content{
	text-decoration: none;
	display: block;
	float: left;
	width: 25%;
}
.menu-content:hover{
	cursor: pointer;
	font-size: 110%;
}
.menu-content-selected{
	color: #ff6633;
	text-decoration: none;
	display: block;
	float: left;
	width: 25%;
}
.menu-content-selected:hover{
	cursor: pointer;
	color: #ff6633;
	text-decoration: none;
	cursor: pointer;
	font-size: 110%;
}

#footer{
	position: absolute;
	left: 0; 
	right: 0; 
	bottom: 0;
	
	height: 100px;
	padding: 0;
	text-align: center;
	font-size: 32px;
	background-color: #e6e6e6;
}
#footer-contact{
	position: absolute;
	left:0;
	width: 40%;
	padding: 10px;
	text-align: right;
	font-size: 32px
}
#footer-contacts{
	position: absolute;
	right:0;
	width: 45%;
	height: 50px;
	padding: 0;
	text-align: left;
	font-size: 32px
}
#footer-disclaimer{
	position: absolute;
	padding-bottom: 8px;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 16px;
}
.footer-contact{
	padding: 15px;
}
.footer-contact:hover{
	cursor: pointer;
	width: 36px;
	height: 36px;
	padding: 13px;
}
.footer-spaceholder{
	box-sizing: content-box;
	width: 1000px;
	height: 100px;
	margin: auto;
	position: relative;
}

.project{
	border-style: dashed;
	border-color: #fbfbfb;
	border-width: 2px;
	width: 476px;
	height: 416px;
	background-color: #fbfbfb;
	margin: 10px;
	box-sizing: content-box;
	float: left;
	font-family: Merriweather;
}
.project:hover{
	border-color: #737373;
	cursor: pointer;
}
.project-image{
	margin: auto;
	margin-top: 10px;
	width: 93%;
}
.project-content{
	font-size: 100%;
	margin: auto;
	margin-bottom: 10px;
	width: 90%;
}
.project-title{
	font-size: 20px;
	font-weight: bolder;
	margin: auto;
	margin-top: 10px;
	width: 90%;
}
.project-genre{
	font-size: 14px;
	font-weight: bolder;
	font-style: italic;
	text-align: right;
	margin: auto;
	margin-top: 10px;
	width:90%;
}
.project-description{
	font-size: 14px;
	margin: auto;
	margin-top: 10px;
	width:90%;
}

.video-wrapper{
	position: relative;
    margin: auto;
    width: 800px;
    height: 450px;
    padding-top: 50px;
}
.video{
    width: 100%;
    height: 100%;
}
.page-title{
	font-size: 40px; 
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
}
.page-subtitle{
	padding-top: 50px;
}
.page-content{
	width: 80%;
	margin: auto;
	font-size: 18px;
	font-family: Merriweather;
	font-weight: lighter;
}
.page-info-table{
	width: 100%;
}
.page-info-table tr:nth-child(odd) {
	background-color: #fbfbfb;
}
.page-info-table tr:nth-child(even) {
	background-color: #f6f6f6;
}
.page-info-table td{
	padding: 8px;
}
.page-info-table td:first-child{
	font-weight: normal;
	width: 25%;
}
